@model IEnumerable<MukMafiaTool.Models.ViewModels.LogMessage>

@using System.Linq

@{
    Layout = null;
}

@{
    ViewBag.Title = "RLLMUK Mafiascum Helper - Logs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <table>
        @foreach (var logMessage in Model)
        {
            var link = Html.ActionLink("Link to forum post", "index", "post", new { forumPostNumber = logMessage.ForumPostNumber }, new { });

            <tr>
                <td>
                    @logMessage.Message
                </td>

                @if (!string.IsNullOrEmpty(logMessage.ForumPostNumber))
                {
                    <td>
                        @link
                    </td>
                }
            </tr>
        }
    </table>
</body>
</html>
