<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ForumUsername" value="MafiaScanner"/>
    <add key="ForumPassword" value=""/>
    <add key="MongoConnectionString" value="mongodb://"/>
    <add key="MongoDatabaseName" value="MafiascumLV"/>
    <add key="ThreadBaseAddress" value="http://www.rllmukforum.com/index.php?/topic/288129-"/>
  </appSettings>
</configuration>